# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Secretos
**/secrets/
**/*.serviceAccount.json
**/firebase-service-account.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Node / Expo
node_modules/
.expo/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.db
*.sqlite3

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env.*.local
!.env.example

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Logs
*.log